<div style="width: 100%; height: 200px;">

</div>
<div id="loginDiv">
    <div style="padding: 180px; color: #ffffff">
        <div>用户：<input id="username" name="username" type="text"></div>
        <div>密码：<input id="password" name="password" type="password"></div>
        <div style="padding: 10px;">
            <input id="login" type="submit" value="登陆">
        </div>
        <div id="loginMsg" style="padding: 100px 0 0 0 ;color: #ff0000;display: block;">

        </div>
    </div>
</div>
<div style="height: 200px;line-height:50px; color: #cccccc"> ©2017 空中英语语言培训有限公司 版权所有</div>