<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.clj.crmproj.mapper.GuestMapper" >
  <resultMap id="BaseResultMap" type="org.clj.crmproj.entity.Guest" >
    <id column="uid" property="uid" jdbcType="CHAR" />
    <result column="attr1" property="attr1" jdbcType="CHAR" />
    <result column="attr2" property="attr2" jdbcType="CHAR" />
    <result column="attr3" property="attr3" jdbcType="CHAR" />
    <result column="attr4" property="attr4" jdbcType="CHAR" />
    <result column="attr5" property="attr5" jdbcType="VARCHAR" />
    <result column="attr6" property="attr6" jdbcType="VARCHAR" />
    <result column="attr7" property="attr7" jdbcType="VARCHAR" />
    <result column="attr8" property="attr8" jdbcType="VARCHAR" />
    <result column="attr9" property="attr9" jdbcType="VARCHAR" />
    <result column="attr10" property="attr10" jdbcType="VARCHAR" />
    <result column="attr11" property="attr11" jdbcType="VARCHAR" />
    <result column="attr12" property="attr12" jdbcType="VARCHAR" />
    <result column="attr13" property="attr13" jdbcType="VARCHAR" />
    <result column="attr14" property="attr14" jdbcType="VARCHAR" />
    <result column="attr15" property="attr15" jdbcType="VARCHAR" />
    <result column="attr16" property="attr16" jdbcType="VARCHAR" />
    <result column="attr17" property="attr17" jdbcType="VARCHAR" />
    <result column="attr18" property="attr18" jdbcType="VARCHAR" />
    <result column="attr19" property="attr19" jdbcType="VARCHAR" />
    <result column="attr20" property="attr20" jdbcType="VARCHAR" />
    <result column="attr21" property="attr21" jdbcType="VARCHAR" />
    <result column="attr22" property="attr22" jdbcType="VARCHAR" />
    <result column="attr23" property="attr23" jdbcType="VARCHAR" />
    <result column="attr24" property="attr24" jdbcType="VARCHAR" />
    <result column="attr25" property="attr25" jdbcType="VARCHAR" />
    <result column="attr26" property="attr26" jdbcType="VARCHAR" />
    <result column="attr27" property="attr27" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, attr1, attr2, attr3, attr4, attr5, attr6, attr7, attr8, attr9, attr10, attr11, 
    attr12, attr13, attr14, attr15, attr16, attr17, attr18, attr19, attr20, attr21, attr22, 
    attr23, attr24, attr25, attr26, attr27
  </sql>
  <select id="selectCount" resultType="java.util.HashMap" parameterType="java.util.Map">
    <![CDATA[
      select count(*) as total from guest
        left JOIN user u1 ON u1.uid = guest.attr1
        left JOIN user u2 ON u2.uid = guest.attr2
        left JOIN user u3 ON u3.uid = guest.attr3
        left JOIN user u4 ON u4.uid = guest.attr4
        left JOIN school t1 ON t1.sid = guest.attr14
        left JOIN state t2 ON t2.sid = guest.attr27
        LEFT JOIN qd t3 on t3.sid = guest.attr15
        LEFT JOIN ly t4 on t4.sid = guest.attr16
        LEFT JOIN source t5 on t5.sid = guest.attr17
        LEFT JOIN yxcp t6 on t6.sid = guest.attr19
        LEFT JOIN kcxq t7 on t7.sid = guest.attr20
        LEFT JOIN khfl t8 on t8.sid = guest.attr21
    ]]>
    <where>
      <if test="school!=null and school!=''">
        and guest.attr14 like CONCAT('%',#{school,jdbcType=VARCHAR},'%')
      </if>
      <if test="source!=null and source!=''">
        and guest.attr16 like CONCAT('%',#{source,jdbcType=VARCHAR},'%')
      </if>
      <if test="date!=null and date!=''">
        and guest.attr8 like CONCAT('%',#{date,jdbcType=VARCHAR},'%')
      </if>
      <if test="startdate!=null and startdate!=''">
        and guest.attr18 like CONCAT('%',#{startdate,jdbcType=VARCHAR},'%')
      </if>
      <if test="enddate!=null and enddate!=''">
        and guest.attr19 like CONCAT('%',#{enddate,jdbcType=VARCHAR},'%')
      </if>
      <if test="cname!=null and cname!=''">
        and guest.attr6 like CONCAT('%',#{cname,jdbcType=VARCHAR},'%')
      </if>
      <if test="ename!=null and ename!=''">
        and guest.attr7 like CONCAT('%',#{ename,jdbcType=VARCHAR},'%')
      </if>
      <if test="sex!=null and sex!=''">
        and guest.attr9 like CONCAT('%',#{sex,jdbcType=VARCHAR},'%')
      </if>
      <if test="phone!=null and phone!=''">
        and guest.attr10 like CONCAT('%',#{phone,jdbcType=VARCHAR},'%')
      </if>
      <if test="state!=null and state!=''">
        and guest.attr27 = #{state,jdbcType=VARCHAR}
      </if>
    </where>
    order by guest.attr5
  </select>
  <select id="selectByOpt" resultType="java.util.HashMap" parameterType="java.util.Map">
    <![CDATA[
      select
        u1.attr3 as mk,
        u2.attr3 as tmk,
        u3.attr3 as tmkadmin,
        u4.attr3 as cc,
        t1.attr1 as schoolName,
        t2.attr1 as state,
        t3.attr1 as qudao,
        t4.attr1 as laiyuan,
        t5.attr1 as tuiguangdian,
        t6.attr1 as yixiangchanpin,
        t7.attr1 as kechengxuqiu,
        t8.attr1 as kehufenlei,
        guest.* from guest
        left JOIN user u1 ON u1.uid = guest.attr1
        left JOIN user u2 ON u2.uid = guest.attr2
        left JOIN user u3 ON u3.uid = guest.attr3
        left JOIN user u4 ON u4.uid = guest.attr4
        left JOIN school t1 ON t1.sid = guest.attr14
        left JOIN state t2 ON t2.sid = guest.attr27
        LEFT JOIN qd t3 on t3.sid = guest.attr15
        LEFT JOIN ly t4 on t4.sid = guest.attr16
        LEFT JOIN source t5 on t5.sid = guest.attr17
        LEFT JOIN yxcp t6 on t6.sid = guest.attr19
        LEFT JOIN kcxq t7 on t7.sid = guest.attr20
        LEFT JOIN khfl t8 on t8.sid = guest.attr21
    ]]>
    <where>
      <if test="uid!=null and uid!=''">
        and guest.uid = #{uid,jdbcType=VARCHAR}
      </if>
      <if test="attr2!=null and attr2!=''">
        and guest.attr2 = #{attr2,jdbcType=VARCHAR}
      </if>
      <if test="school!=null and school!=''">
        and guest.attr14 like CONCAT('%',#{school,jdbcType=VARCHAR},'%')
      </if>
      <if test="source!=null and source!=''">
        and guest.attr16 like CONCAT('%',#{source,jdbcType=VARCHAR},'%')
      </if>
      <if test="date!=null and date!=''">
        and guest.attr8 like CONCAT('%',#{date,jdbcType=VARCHAR},'%')
      </if>
      <if test="startdate!=null and startdate!=''">
        and guest.attr18 like CONCAT('%',#{startdate,jdbcType=VARCHAR},'%')
      </if>
      <if test="enddate!=null and enddate!=''">
        and guest.attr19 like CONCAT('%',#{enddate,jdbcType=VARCHAR},'%')
      </if>
      <if test="cname!=null and cname!=''">
        and guest.attr6 like CONCAT('%',#{cname,jdbcType=VARCHAR},'%')
      </if>
      <if test="ename!=null and ename!=''">
        and guest.attr7 like CONCAT('%',#{ename,jdbcType=VARCHAR},'%')
      </if>
      <if test="sex!=null and sex!=''">
        and guest.attr9 like CONCAT('%',#{sex,jdbcType=VARCHAR},'%')
      </if>
      <if test="phone!=null and phone!=''">
        and guest.attr10 like CONCAT('%',#{phone,jdbcType=VARCHAR},'%')
      </if>
      <if test="state!=null and state!=''">
        and guest.attr27 = #{state,jdbcType=VARCHAR}
      </if>
    </where>
    order by attr5 limit #{beginRow,jdbcType=VARCHAR},#{pageSize,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from guest
    where uid = #{uid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from guest
    where uid = #{uid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.clj.crmproj.entity.Guest" >
    insert into guest (uid, attr1, attr2, attr3, 
      attr4, attr5, attr6, attr7, 
      attr8, attr9, attr10, 
      attr11, attr12, attr13, 
      attr14, attr15, attr16, 
      attr17, attr18, attr19, 
      attr20, attr21, attr22, 
      attr23, attr24, attr25, 
      attr26, attr27)
    values (#{uid,jdbcType=CHAR}, #{attr1,jdbcType=CHAR}, #{attr2,jdbcType=CHAR}, #{attr3,jdbcType=CHAR}, 
      #{attr4,jdbcType=CHAR}, #{attr5,jdbcType=VARCHAR}, #{attr6,jdbcType=VARCHAR}, #{attr7,jdbcType=VARCHAR}, 
      #{attr8,jdbcType=VARCHAR}, #{attr9,jdbcType=VARCHAR}, #{attr10,jdbcType=VARCHAR}, 
      #{attr11,jdbcType=VARCHAR}, #{attr12,jdbcType=VARCHAR}, #{attr13,jdbcType=VARCHAR}, 
      #{attr14,jdbcType=VARCHAR}, #{attr15,jdbcType=VARCHAR}, #{attr16,jdbcType=VARCHAR}, 
      #{attr17,jdbcType=VARCHAR}, #{attr18,jdbcType=VARCHAR}, #{attr19,jdbcType=VARCHAR}, 
      #{attr20,jdbcType=VARCHAR}, #{attr21,jdbcType=VARCHAR}, #{attr22,jdbcType=VARCHAR}, 
      #{attr23,jdbcType=VARCHAR}, #{attr24,jdbcType=VARCHAR}, #{attr25,jdbcType=VARCHAR}, 
      #{attr26,jdbcType=VARCHAR}, #{attr27,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.clj.crmproj.entity.Guest" >
    insert into guest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="attr1 != null" >
        attr1,
      </if>
      <if test="attr2 != null" >
        attr2,
      </if>
      <if test="attr3 != null" >
        attr3,
      </if>
      <if test="attr4 != null" >
        attr4,
      </if>
      <if test="attr5 != null" >
        attr5,
      </if>
      <if test="attr6 != null" >
        attr6,
      </if>
      <if test="attr7 != null" >
        attr7,
      </if>
      <if test="attr8 != null" >
        attr8,
      </if>
      <if test="attr9 != null" >
        attr9,
      </if>
      <if test="attr10 != null" >
        attr10,
      </if>
      <if test="attr11 != null" >
        attr11,
      </if>
      <if test="attr12 != null" >
        attr12,
      </if>
      <if test="attr13 != null" >
        attr13,
      </if>
      <if test="attr14 != null" >
        attr14,
      </if>
      <if test="attr15 != null" >
        attr15,
      </if>
      <if test="attr16 != null" >
        attr16,
      </if>
      <if test="attr17 != null" >
        attr17,
      </if>
      <if test="attr18 != null" >
        attr18,
      </if>
      <if test="attr19 != null" >
        attr19,
      </if>
      <if test="attr20 != null" >
        attr20,
      </if>
      <if test="attr21 != null" >
        attr21,
      </if>
      <if test="attr22 != null" >
        attr22,
      </if>
      <if test="attr23 != null" >
        attr23,
      </if>
      <if test="attr24 != null" >
        attr24,
      </if>
      <if test="attr25 != null" >
        attr25,
      </if>
      <if test="attr26 != null" >
        attr26,
      </if>
      <if test="attr27 != null" >
        attr27,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=CHAR},
      </if>
      <if test="attr1 != null" >
        #{attr1,jdbcType=CHAR},
      </if>
      <if test="attr2 != null" >
        #{attr2,jdbcType=CHAR},
      </if>
      <if test="attr3 != null" >
        #{attr3,jdbcType=CHAR},
      </if>
      <if test="attr4 != null" >
        #{attr4,jdbcType=CHAR},
      </if>
      <if test="attr5 != null" >
        #{attr5,jdbcType=VARCHAR},
      </if>
      <if test="attr6 != null" >
        #{attr6,jdbcType=VARCHAR},
      </if>
      <if test="attr7 != null" >
        #{attr7,jdbcType=VARCHAR},
      </if>
      <if test="attr8 != null" >
        #{attr8,jdbcType=VARCHAR},
      </if>
      <if test="attr9 != null" >
        #{attr9,jdbcType=VARCHAR},
      </if>
      <if test="attr10 != null" >
        #{attr10,jdbcType=VARCHAR},
      </if>
      <if test="attr11 != null" >
        #{attr11,jdbcType=VARCHAR},
      </if>
      <if test="attr12 != null" >
        #{attr12,jdbcType=VARCHAR},
      </if>
      <if test="attr13 != null" >
        #{attr13,jdbcType=VARCHAR},
      </if>
      <if test="attr14 != null" >
        #{attr14,jdbcType=VARCHAR},
      </if>
      <if test="attr15 != null" >
        #{attr15,jdbcType=VARCHAR},
      </if>
      <if test="attr16 != null" >
        #{attr16,jdbcType=VARCHAR},
      </if>
      <if test="attr17 != null" >
        #{attr17,jdbcType=VARCHAR},
      </if>
      <if test="attr18 != null" >
        #{attr18,jdbcType=VARCHAR},
      </if>
      <if test="attr19 != null" >
        #{attr19,jdbcType=VARCHAR},
      </if>
      <if test="attr20 != null" >
        #{attr20,jdbcType=VARCHAR},
      </if>
      <if test="attr21 != null" >
        #{attr21,jdbcType=VARCHAR},
      </if>
      <if test="attr22 != null" >
        #{attr22,jdbcType=VARCHAR},
      </if>
      <if test="attr23 != null" >
        #{attr23,jdbcType=VARCHAR},
      </if>
      <if test="attr24 != null" >
        #{attr24,jdbcType=VARCHAR},
      </if>
      <if test="attr25 != null" >
        #{attr25,jdbcType=VARCHAR},
      </if>
      <if test="attr26 != null" >
        #{attr26,jdbcType=VARCHAR},
      </if>
      <if test="attr27 != null" >
        #{attr27,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.clj.crmproj.entity.Guest" >
    update guest
    <set >
      <if test="attr1 != null" >
        attr1 = #{attr1,jdbcType=CHAR},
      </if>
      <if test="attr2 != null" >
        attr2 = #{attr2,jdbcType=CHAR},
      </if>
      <if test="attr3 != null" >
        attr3 = #{attr3,jdbcType=CHAR},
      </if>
      <if test="attr4 != null" >
        attr4 = #{attr4,jdbcType=CHAR},
      </if>
      <if test="attr5 != null" >
        attr5 = #{attr5,jdbcType=VARCHAR},
      </if>
      <if test="attr6 != null" >
        attr6 = #{attr6,jdbcType=VARCHAR},
      </if>
      <if test="attr7 != null" >
        attr7 = #{attr7,jdbcType=VARCHAR},
      </if>
      <if test="attr8 != null" >
        attr8 = #{attr8,jdbcType=VARCHAR},
      </if>
      <if test="attr9 != null" >
        attr9 = #{attr9,jdbcType=VARCHAR},
      </if>
      <if test="attr10 != null" >
        attr10 = #{attr10,jdbcType=VARCHAR},
      </if>
      <if test="attr11 != null" >
        attr11 = #{attr11,jdbcType=VARCHAR},
      </if>
      <if test="attr12 != null" >
        attr12 = #{attr12,jdbcType=VARCHAR},
      </if>
      <if test="attr13 != null" >
        attr13 = #{attr13,jdbcType=VARCHAR},
      </if>
      <if test="attr14 != null" >
        attr14 = #{attr14,jdbcType=VARCHAR},
      </if>
      <if test="attr15 != null" >
        attr15 = #{attr15,jdbcType=VARCHAR},
      </if>
      <if test="attr16 != null" >
        attr16 = #{attr16,jdbcType=VARCHAR},
      </if>
      <if test="attr17 != null" >
        attr17 = #{attr17,jdbcType=VARCHAR},
      </if>
      <if test="attr18 != null" >
        attr18 = #{attr18,jdbcType=VARCHAR},
      </if>
      <if test="attr19 != null" >
        attr19 = #{attr19,jdbcType=VARCHAR},
      </if>
      <if test="attr20 != null" >
        attr20 = #{attr20,jdbcType=VARCHAR},
      </if>
      <if test="attr21 != null" >
        attr21 = #{attr21,jdbcType=VARCHAR},
      </if>
      <if test="attr22 != null" >
        attr22 = #{attr22,jdbcType=VARCHAR},
      </if>
      <if test="attr23 != null" >
        attr23 = #{attr23,jdbcType=VARCHAR},
      </if>
      <if test="attr24 != null" >
        attr24 = #{attr24,jdbcType=VARCHAR},
      </if>
      <if test="attr25 != null" >
        attr25 = #{attr25,jdbcType=VARCHAR},
      </if>
      <if test="attr26 != null" >
        attr26 = #{attr26,jdbcType=VARCHAR},
      </if>
      <if test="attr27 != null" >
        attr27 = #{attr27,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.clj.crmproj.entity.Guest" >
    update guest
    set attr1 = #{attr1,jdbcType=CHAR},
      attr2 = #{attr2,jdbcType=CHAR},
      attr3 = #{attr3,jdbcType=CHAR},
      attr4 = #{attr4,jdbcType=CHAR},
      attr5 = #{attr5,jdbcType=VARCHAR},
      attr6 = #{attr6,jdbcType=VARCHAR},
      attr7 = #{attr7,jdbcType=VARCHAR},
      attr8 = #{attr8,jdbcType=VARCHAR},
      attr9 = #{attr9,jdbcType=VARCHAR},
      attr10 = #{attr10,jdbcType=VARCHAR},
      attr11 = #{attr11,jdbcType=VARCHAR},
      attr12 = #{attr12,jdbcType=VARCHAR},
      attr13 = #{attr13,jdbcType=VARCHAR},
      attr14 = #{attr14,jdbcType=VARCHAR},
      attr15 = #{attr15,jdbcType=VARCHAR},
      attr16 = #{attr16,jdbcType=VARCHAR},
      attr17 = #{attr17,jdbcType=VARCHAR},
      attr18 = #{attr18,jdbcType=VARCHAR},
      attr19 = #{attr19,jdbcType=VARCHAR},
      attr20 = #{attr20,jdbcType=VARCHAR},
      attr21 = #{attr21,jdbcType=VARCHAR},
      attr22 = #{attr22,jdbcType=VARCHAR},
      attr23 = #{attr23,jdbcType=VARCHAR},
      attr24 = #{attr24,jdbcType=VARCHAR},
      attr25 = #{attr25,jdbcType=VARCHAR},
      attr26 = #{attr26,jdbcType=VARCHAR},
      attr27 = #{attr27,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=CHAR}
  </update>
</mapper>