<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.clj.crmproj.mapper.SysGuestMapper" >
  <resultMap id="BaseResultMap" type="org.clj.crmproj.entity.SysGuest" >
    <id column="sid" property="sid" jdbcType="CHAR" />
    <result column="attr1" property="attr1" jdbcType="VARCHAR" />
    <result column="attr2" property="attr2" jdbcType="VARCHAR" />
    <result column="attr3" property="attr3" jdbcType="VARCHAR" />
    <result column="attr4" property="attr4" jdbcType="VARCHAR" />
    <result column="attr5" property="attr5" jdbcType="VARCHAR" />
    <result column="attr6" property="attr6" jdbcType="VARCHAR" />
    <result column="attr7" property="attr7" jdbcType="VARCHAR" />
    <result column="attr8" property="attr8" jdbcType="VARCHAR" />
    <result column="attr9" property="attr9" jdbcType="VARCHAR" />
    <result column="attr10" property="attr10" jdbcType="VARCHAR" />
    <result column="attr11" property="attr11" jdbcType="VARCHAR" />
    <result column="attr12" property="attr12" jdbcType="VARCHAR" />
    <result column="attr13" property="attr13" jdbcType="VARCHAR" />
    <result column="attr14" property="attr14" jdbcType="VARCHAR" />
    <result column="attr15" property="attr15" jdbcType="VARCHAR" />
    <result column="attr16" property="attr16" jdbcType="VARCHAR" />
    <result column="attr17" property="attr17" jdbcType="VARCHAR" />
    <result column="attr18" property="attr18" jdbcType="VARCHAR" />
    <result column="attr19" property="attr19" jdbcType="VARCHAR" />
    <result column="attr20" property="attr20" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, attr1, attr2, attr3, attr4, attr5, attr6, attr7, attr8, attr9, attr10, attr11, 
    attr12, attr13, attr14, attr15, attr16, attr17, attr18, attr19, attr20
  </sql>
  <select id="selectByOther" parameterType="java.util.Map" resultType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from sys_guest
    where attr20 = '1'
    <if test="sid != null">
      and sid = #{sid,jdbcType=CHAR}
    </if>
    <if test="attr1 != null">
      and attr1 = #{attr1,jdbcType=VARCHAR}
    </if>
    <if test="attr2 != null">
      and attr2 = #{attr2,jdbcType=VARCHAR}
    </if>
    <if test="attr3 != null">
      and attr3 = #{attr3,jdbcType=VARCHAR}
    </if>
    <if test="attr4 != null">
      and attr4 = #{attr4,jdbcType=VARCHAR}
    </if>
    <if test="attr5 != null">
      and attr5 = #{attr5,jdbcType=VARCHAR}
    </if>
    <if test="attr6 != null">
      and attr6 = #{attr6,jdbcType=VARCHAR}
    </if>
    <if test="attr7 != null">
      and attr7 = #{attr7,jdbcType=VARCHAR}
    </if>
    <if test="attr8 != null">
      and attr8 = #{attr8,jdbcType=VARCHAR}
    </if>
    <if test="attr9 != null">
      and attr9 = #{attr9,jdbcType=VARCHAR}
    </if>
    <if test="attr10 != null">
      and attr10 = #{attr10,jdbcType=VARCHAR}
    </if>
    <if test="attr11 != null">
      and attr11 = #{attr11,jdbcType=VARCHAR}
    </if>
    <if test="attr12 != null">
      and attr12 = #{attr12,jdbcType=VARCHAR}
    </if>
    <if test="attr13 != null">
      and attr13 = #{attr13,jdbcType=VARCHAR}
    </if>
    <if test="attr14 != null">
      and attr14 = #{attr14,jdbcType=VARCHAR}
    </if>
    <if test="attr15 != null">
      and attr15 = #{attr15,jdbcType=VARCHAR}
    </if>
    <if test="attr16 != null">
      and attr16 = #{attr16,jdbcType=VARCHAR}
    </if>
    <if test="attr17 != null">
      and attr17 = #{attr17,jdbcType=VARCHAR}
    </if>
    <if test="attr18 != null">
      and attr18 = #{attr18,jdbcType=VARCHAR}
    </if>
    <if test="attr19 != null">
      and attr19 = #{attr19,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_guest
    where sid = #{sid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_guest
    where sid = #{sid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.clj.crmproj.entity.SysGuest" >
    insert into sys_guest (sid, attr1, attr2, 
      attr3, attr4, attr5, 
      attr6, attr7, attr8, 
      attr9, attr10, attr11, 
      attr12, attr13, attr14, 
      attr15, attr16, attr17, 
      attr18, attr19, attr20
      )
    values (#{sid,jdbcType=CHAR}, #{attr1,jdbcType=VARCHAR}, #{attr2,jdbcType=VARCHAR}, 
      #{attr3,jdbcType=VARCHAR}, #{attr4,jdbcType=VARCHAR}, #{attr5,jdbcType=VARCHAR}, 
      #{attr6,jdbcType=VARCHAR}, #{attr7,jdbcType=VARCHAR}, #{attr8,jdbcType=VARCHAR}, 
      #{attr9,jdbcType=VARCHAR}, #{attr10,jdbcType=VARCHAR}, #{attr11,jdbcType=VARCHAR}, 
      #{attr12,jdbcType=VARCHAR}, #{attr13,jdbcType=VARCHAR}, #{attr14,jdbcType=VARCHAR}, 
      #{attr15,jdbcType=VARCHAR}, #{attr16,jdbcType=VARCHAR}, #{attr17,jdbcType=VARCHAR}, 
      #{attr18,jdbcType=VARCHAR}, #{attr19,jdbcType=VARCHAR}, #{attr20,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.clj.crmproj.entity.SysGuest" >
    insert into sys_guest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="attr1 != null" >
        attr1,
      </if>
      <if test="attr2 != null" >
        attr2,
      </if>
      <if test="attr3 != null" >
        attr3,
      </if>
      <if test="attr4 != null" >
        attr4,
      </if>
      <if test="attr5 != null" >
        attr5,
      </if>
      <if test="attr6 != null" >
        attr6,
      </if>
      <if test="attr7 != null" >
        attr7,
      </if>
      <if test="attr8 != null" >
        attr8,
      </if>
      <if test="attr9 != null" >
        attr9,
      </if>
      <if test="attr10 != null" >
        attr10,
      </if>
      <if test="attr11 != null" >
        attr11,
      </if>
      <if test="attr12 != null" >
        attr12,
      </if>
      <if test="attr13 != null" >
        attr13,
      </if>
      <if test="attr14 != null" >
        attr14,
      </if>
      <if test="attr15 != null" >
        attr15,
      </if>
      <if test="attr16 != null" >
        attr16,
      </if>
      <if test="attr17 != null" >
        attr17,
      </if>
      <if test="attr18 != null" >
        attr18,
      </if>
      <if test="attr19 != null" >
        attr19,
      </if>
      <if test="attr20 != null" >
        attr20,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=CHAR},
      </if>
      <if test="attr1 != null" >
        #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null" >
        #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null" >
        #{attr3,jdbcType=VARCHAR},
      </if>
      <if test="attr4 != null" >
        #{attr4,jdbcType=VARCHAR},
      </if>
      <if test="attr5 != null" >
        #{attr5,jdbcType=VARCHAR},
      </if>
      <if test="attr6 != null" >
        #{attr6,jdbcType=VARCHAR},
      </if>
      <if test="attr7 != null" >
        #{attr7,jdbcType=VARCHAR},
      </if>
      <if test="attr8 != null" >
        #{attr8,jdbcType=VARCHAR},
      </if>
      <if test="attr9 != null" >
        #{attr9,jdbcType=VARCHAR},
      </if>
      <if test="attr10 != null" >
        #{attr10,jdbcType=VARCHAR},
      </if>
      <if test="attr11 != null" >
        #{attr11,jdbcType=VARCHAR},
      </if>
      <if test="attr12 != null" >
        #{attr12,jdbcType=VARCHAR},
      </if>
      <if test="attr13 != null" >
        #{attr13,jdbcType=VARCHAR},
      </if>
      <if test="attr14 != null" >
        #{attr14,jdbcType=VARCHAR},
      </if>
      <if test="attr15 != null" >
        #{attr15,jdbcType=VARCHAR},
      </if>
      <if test="attr16 != null" >
        #{attr16,jdbcType=VARCHAR},
      </if>
      <if test="attr17 != null" >
        #{attr17,jdbcType=VARCHAR},
      </if>
      <if test="attr18 != null" >
        #{attr18,jdbcType=VARCHAR},
      </if>
      <if test="attr19 != null" >
        #{attr19,jdbcType=VARCHAR},
      </if>
      <if test="attr20 != null" >
        #{attr20,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.clj.crmproj.entity.SysGuest" >
    update sys_guest
    <set >
      <if test="attr1 != null" >
        attr1 = #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null" >
        attr2 = #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null" >
        attr3 = #{attr3,jdbcType=VARCHAR},
      </if>
      <if test="attr4 != null" >
        attr4 = #{attr4,jdbcType=VARCHAR},
      </if>
      <if test="attr5 != null" >
        attr5 = #{attr5,jdbcType=VARCHAR},
      </if>
      <if test="attr6 != null" >
        attr6 = #{attr6,jdbcType=VARCHAR},
      </if>
      <if test="attr7 != null" >
        attr7 = #{attr7,jdbcType=VARCHAR},
      </if>
      <if test="attr8 != null" >
        attr8 = #{attr8,jdbcType=VARCHAR},
      </if>
      <if test="attr9 != null" >
        attr9 = #{attr9,jdbcType=VARCHAR},
      </if>
      <if test="attr10 != null" >
        attr10 = #{attr10,jdbcType=VARCHAR},
      </if>
      <if test="attr11 != null" >
        attr11 = #{attr11,jdbcType=VARCHAR},
      </if>
      <if test="attr12 != null" >
        attr12 = #{attr12,jdbcType=VARCHAR},
      </if>
      <if test="attr13 != null" >
        attr13 = #{attr13,jdbcType=VARCHAR},
      </if>
      <if test="attr14 != null" >
        attr14 = #{attr14,jdbcType=VARCHAR},
      </if>
      <if test="attr15 != null" >
        attr15 = #{attr15,jdbcType=VARCHAR},
      </if>
      <if test="attr16 != null" >
        attr16 = #{attr16,jdbcType=VARCHAR},
      </if>
      <if test="attr17 != null" >
        attr17 = #{attr17,jdbcType=VARCHAR},
      </if>
      <if test="attr18 != null" >
        attr18 = #{attr18,jdbcType=VARCHAR},
      </if>
      <if test="attr19 != null" >
        attr19 = #{attr19,jdbcType=VARCHAR},
      </if>
      <if test="attr20 != null" >
        attr20 = #{attr20,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.clj.crmproj.entity.SysGuest" >
    update sys_guest
    set attr1 = #{attr1,jdbcType=VARCHAR},
      attr2 = #{attr2,jdbcType=VARCHAR},
      attr3 = #{attr3,jdbcType=VARCHAR},
      attr4 = #{attr4,jdbcType=VARCHAR},
      attr5 = #{attr5,jdbcType=VARCHAR},
      attr6 = #{attr6,jdbcType=VARCHAR},
      attr7 = #{attr7,jdbcType=VARCHAR},
      attr8 = #{attr8,jdbcType=VARCHAR},
      attr9 = #{attr9,jdbcType=VARCHAR},
      attr10 = #{attr10,jdbcType=VARCHAR},
      attr11 = #{attr11,jdbcType=VARCHAR},
      attr12 = #{attr12,jdbcType=VARCHAR},
      attr13 = #{attr13,jdbcType=VARCHAR},
      attr14 = #{attr14,jdbcType=VARCHAR},
      attr15 = #{attr15,jdbcType=VARCHAR},
      attr16 = #{attr16,jdbcType=VARCHAR},
      attr17 = #{attr17,jdbcType=VARCHAR},
      attr18 = #{attr18,jdbcType=VARCHAR},
      attr19 = #{attr19,jdbcType=VARCHAR},
      attr20 = #{attr20,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=CHAR}
  </update>
</mapper>