<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.clj.crmproj.mapper.USMapper" >
  <resultMap id="BaseResultMap" type="org.clj.crmproj.entity.US" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="uid" property="uid" jdbcType="CHAR" />
    <result column="sid" property="sid" jdbcType="CHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, sid, note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from u_s
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from u_s
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.clj.crmproj.entity.US" >
    insert into u_s (id, uid, sid, note
      )
    values (#{id,jdbcType=CHAR}, #{uid,jdbcType=CHAR}, #{sid,jdbcType=CHAR}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.clj.crmproj.entity.US" >
    insert into u_s
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=CHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=CHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.clj.crmproj.entity.US" >
    update u_s
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=CHAR},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=CHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.clj.crmproj.entity.US" >
    update u_s
    set uid = #{uid,jdbcType=CHAR},
      sid = #{sid,jdbcType=CHAR},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>