<div class="fast-now" id = "currentLoc"></div>
<div class="b-center">
    <div class="qiye" style="height:600px;">
        <p class="title">
            <span class="js-icon"></span>
            <span id="roleNameSpan">用户权限关联</span>
        </p>
        <div class="fl box">
            <p class="cn-title">
                <span>
                    用户选择
                    <span class="t-icon"></span>
                </span>
                <span class="fr menuSpan" id="chooseOrgnAllSpan" style="display: none;">
                    <span id="chooseOrgnAll" class="chooseAllClass button chk checkbox_false_full"></span>
                    全选
                </span>
            </p>
            <ul id="userTree" class="ztree" style="height: 420px; overflow-y: auto"></ul>
            <p class="cn-bottom">

            </p>
            <p class="cn-bottom" style="display: none" id="alreadyOrgn">
                <span class="sh-icon">
                    <i></i><span>已授权</span>
                </span>
            </p>
        </div>
        <div class="fl box">
            <p class="cn-title">
                <span>
                    组织权限
                    <span class="t-icon"></span>
                </span>
                <span class="fr menuSpan" id="chooseUserAllSpan" style="display: none;">
                    <span id="chooseUserAll" class="chooseAllClass button chk checkbox_false_full"></span>
                    全选
                </span>
            </p>
            <ul id="roleTree" class="ztree" style="height: 420px; overflow-y: auto;">
            </ul>
            <p class="cn-bottom">
                <span class="sh-btn" id="submitRole">
                    确认授权
                </span>
            </p>
            <p class="cn-bottom" style="display: none" id="alreadyUser">
                <span class="sh-icon">
                    <i></i><span>已授权</span>
                </span>
            </p>
        </div>
        <div class="fl box">
            <p class="cn-title">
                <span>
                    菜单权限
                    <span class="t-icon"></span>
                </span>
                <span class="fr menuSpan" id="choseMenuAllSpan" style="display: none;">
                    <span id="choseMenuAll" class="chooseAllClass button chk checkbox_false_full"></span>
                    全选
                </span>
            </p>
            <ul id="menuTree" class="ztree" style="height: 420px; overflow-y: auto"></ul>
            <p class="cn-bottom">
                <span class="sh-btn" id="submitMenu">
                    确认授权
                </span>
            </p>
            <p class="cn-bottom" style="display: none" id="alreadyMenu">
                <span class="sh-icon">
                    <i></i><span>已授权</span>
                </span>
            </p>
        </div>
    </div>
</div>