<div class="topDiv"><img src="img/footlogo.png" style="height: 60px;"></div>
<div class="leftDiv">
    <div class="list">
        <ul id="mainMenu">
            <li><a href="javascript:void(0);" class="active">首页</a>

            </li>
            <li name="khgl"><a href="javascript:void(0);" class="inactive">客户管理</a>
                <ul style="display: none;" id="khgl">

                </ul>
            </li>
            <li name="xtsz"><a href="javascript:void(0);" class="inactive">系统设置</a>
                <ul style="display: none" id="xtsz">

                </ul>
            </li>
        </ul>
    </div>

</div>
<div class="rightDiv"></div>